:root {
    /* --background: #f2f2f2;; */
    --background: white;;
    --text-secondary: #4e4e4e;
    --accent: #dfb017;
    --text-primary: #f7b512; 
    --border: #1f1e1e;
    --shadow: 7px 15px 13px -4px #00000056;
}

[data-theme='dark'] {
    --background: #05010a;
    --text-secondary: #a7a4a4;
    --accent: #6a5acd;
    --text-primary: rgb(72, 145, 96); 
    --border: #696969;
    --shadow: 7px 15px 13px -4px #ffffff1b;
}